header {
    background-color: rgb(90, 100, 235);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main {
    width: 50%;
}

h1{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size:3.5em;
    color: white;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: black;
}

.menuTitle {
    margin-right: 25px;
}

.menuButtons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

}

.menuButton {
    margin-left: 12px;
    margin-right: 12px;
}

.accountButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.accountIcon {
    transform: scale(1.8);
}


.newTripButton {
    margin-top: 12px;
    text-align: center;
}

.tripCard {
    margin-top: 12px;
    margin-bottom: 12px;
}                   

.tripList {
    margin-top: 30px;;
}

.tripDetails {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descriptionBox {
    text-align: center;
}

.editTripButton {
    margin-top: 12px;
    text-align: center;
}

.day {
    margin: 12px 12px 12px 12px;
}

.resources {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}


.formButton {
    margin: 12px 12px 12px 12px;
}

.checklistPage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.checklistMenu {
    width: 200px;
}

.Checklist {
    width: 99%; 
}

.resourcesForm {
    width: 400px
}

